.slider-principal {
    background-color: #1D1D1D;
    height: 400px;
}

.slider-produtos {
    display: flex !important;
}

.slick-slider {
    width: 70%;
    margin: 0 auto;
}

.titulo-slider {
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #55DB40;
}

.descricao-slider {
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #666666;
}

.content-slider {
    width: 30%;
}

.slider-produtos h3 {
    width: 70%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.content-slider span {
    border: 1px solid #55DB40;
    padding: 10px 22px;
    position: relative;
    top: 25px;
    color: #55DB40;
}

.slick-slider {
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
}

.slick-dots {
    bottom: 115px !important;
}

.slick-track {
    height: 250px;
}

.slick-prev {
    left: 45% !important;
    z-index: 999;
}